:root {
    --first-header-color: #212121;
    --second-header-color: #757575;
    --first-title-color: #FFFFFF;
    --second-title-color:#212121;
    --first-text-color: #757575;
    --second-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --btn-color:  #FFFFFF;
    --bcg-btn-color: #2196F3;
    --bcg-first-color:  #FFFFFF;
    --bcg-second-color: #F5F4FA;
    --bcg-accent-color: #2F303A;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--first-header-color);
    background-color: var(--bcg-first-color);
}

.list {
    list-style: none;
}

.link{
    text-decoration: none;
}

/* header */
.header {
    background-color: var(--bcg-header-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-link:focus, .header-link:hover {
    color: var(--accent-text-color);
}

.header-contacts-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-header-color);
}

.header-contacts-list:hover, .header-contacts-list:focus {
    color: var(--accent-text-color);
}

/* hero */
.hero {
    background-color: var(--bcg-accent-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--first-title-color);
}

.btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--btn-color);
    background-color: var(--bcg-btn-color);
}

/* advantages */
.advantages-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   }

.advantages-after-item-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}

/* doing */
.doing-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

/* team */
.team {
    background-color: var(--bcg-second-color);
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-after-item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
}

/* footer */
.footer {
    background-color: var(--bcg-accent-color);
}

.footer-address-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.footer-contacts-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}