:root {
    --first-header-color: #212121;
    --second-header-color: #757575;
    --first-title-color: #FFFFFF;
    --second-title-color:#212121;
    --first-text-color: #757575;
    --second-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --btn-color:  #FFFFFF;
    --bcg-btn-color: #2196F3;
    --bcg-first-color:  #FFFFFF;
    --bcg-second-color: #F5F4FA;
    --bcg-accent-color: #2F303A;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--first-header-color);
    background-color: var(--bcg-first-color);
}

.list {
    list-style: none;
}

.link{
    text-decoration: none;
}

/* header */
.header {
    background-color: var(--bcg-header-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--first-header-color);
}

.web-logo {
    color: var(--accent-text-color) ;
}

.header-link {
    color: var(--first-header-color);
}
.header-link:focus, .header-link:hover, .header-tel:hover, .header-mail:hover, .header-tel:focus, .header-mail:focus {
    color: var(--accent-text-color);
}

.header-tel, .header-mail, .footer-tel, .footer-mail {
        color: var(--second-header-color);
}


/* hero */
.hero {
    background-color: var(--bcg-accent-color);
    letter-spacing: 0.06em;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--first-title-color);
}

.btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    cursor: pointer;
    
    color: inherit;
    background-color: var(--bcg-second-color));
}

.btn:hover, .btn:focus {
    color: var(--btn-color);
    background-color: var(--bcg-btn-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
 
}

.hero-item-title {
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
}

/* portfolio-page */
.hero-after-item-title {
    line-height: 1.88;
    letter-spacing: 0.03em;
}

/* advantages */
.advantages-item {
    font-size: 14px;
    letter-spacing: 0.03em;
}

.advantages-item-title {
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   }

.advantages-after-item-title {
    line-height: 1.71;
    color: var(--first-text-color);
}

/* doing */
.doing-list {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* team */
.team {
    background-color: var(--bcg-second-color);
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}


.team-item-title {
    font-size: 16px;
    font-weight: 500;
    background-color: var(--bcg-first-color);
}

.team-after-item-title {
    color: var(--first-text-color);
    background-color: var(--bcg-first-color);
}

/* footer */
.footer {
    background-color: var(--bcg-accent-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}

.studio-logo {
color: var(--first-title-color);
}

.footer-address-item {
    font-style: normal;
    color: var(--second-text-color);
}

.footer-mail, .footer-tel {
    font-style: normal;
}